<%= render 'navbar' %>

<div class="container">
  <div class="article-title d-flex justify-content-between align-items-center">
    <h2 class="py-3"><%= @article.title %></h2>
    <div class="buttons">
      <%= link_to edit_article_path(@article) do %>
        <i class="far fa-edit"></i>
      <% end %>|
      <%= link_to article_path(@article),
          method: :delete,
          data: { confirm: "Delete #{@article.title}?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
    </div>
  </div>

  <p><%= @article.content %></p>
</div>
